body {
    background-color: #C4326B;
}

h1 {
    text-align: center;
    color: black;
    background-color: crimson;
}

.font {
    font-family: Arial, Helvetica, sans-serif
}

#container {
    text-align: center;
    font-size: medium;
}