body {
    background-color: #C4326B;
}

h1 {
    text-align: center;
    color: black;
    background-color: crimson;
    padding: 30px;
}

.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#container {
    text-align: center;
    font-size: medium;
}